@model Hackathon2019.Models.ModuleRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModuleRating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enrollment.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
